html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    position: fixed;
}

* {
    font-family: "Lexend Giga", sans-serif;
}

input {
    font-family: "Lexend Giga", sans-serif;
}
