.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content {
    display: flex;
    flex: 1;
}

@media (aspect-ratio < 1) {
    .content {
        flex-direction: column;
    }
}
