.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}
