.container {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toast {
    background-color: #ffffffbb;
    backdrop-filter: blur(4px);
    color: black;
}
